$default-color: #6D2080;

div label {
  color: $default-color !important;
  margin-bottom: -4px !important;
  padding-left: 20px !important;
  font-size: 15px;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial !important;
}

.custom-select, .form-control {
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  padding-left: 35px !important;
  padding-top: 0 !important;
  margin-top: 0 !important;
  padding-bottom: 0 !important;
  margin-bottom: 0 !important;
  height: calc(0.7em + 0.75rem + 2px) !important;
  color: #8D8D8D !important;
}

.custom-select:focus, .form-control:focus {
  box-shadow: none !important;
  border-color: $default-color !important;
}

.custom-select:active, .form-control:focus:active {
  border-color: $default-color !important;
}

.custom-select:hover, .form-control:hover {
  border-color: $default-color !important;
}

a {
  text-decoration: none !important
}

.region {
  color: $default-color !important;
  text-decoration: underline !important;
}

ul > li, .neighbors-countries {
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial !important;
  font-style: regular !important;
  font-size: 18px !important;
  font-weight: 400 !important;
  line-height: 22px !important;
  color: #454545 ;
}

img {
  object-fit: contain !important;
  cursor: pointer !important;
}

.country-img {
  min-width: 316px !important;
  max-width: 316px !important;
  min-height: 181px !important;
  max-height: 181px !important;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) !important;
  padding: 0 !important;
  object-fit: contain !important;
}

.cursor {
  cursor: pointer !important;
}

@media screen and (max-width: 550px) {
  .country-img, .flag {
    min-width: 100% !important;
    max-width: 100% !important;
  }
}

option {
  font-weight: bold !important;
}

option:hover, option:active {
  background-color: transparent !important;
  color: #02AE99 !important;
}
// Css for pagination

.pagination {
  justify-content: center;
  width: 100%;
  font-family: Montserrat;
  color: #8d8d8d;
}

.page {
  padding: 5px 8px 8px 8px;
  margin-right: 5px;
  text-align: center;
  vertical-align: middle;
  width: 34px;
  height: 34px;
  left: 86px;
  border-radius: 2px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
}

div .active {
  background-color: $default-color !important;
  color: #fff !important;
}

.back-page {
  margin-top: 3px;
  width: 28px;
  height: 28px;
  margin-right: 5px;
  padding-left: 10px;
  padding-top: 2.5px;
  border-radius: 2px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
}

.next-page {
  margin-top: 3px;
  width: 28px;
  height: 28px;
  padding-left: 10px;
  padding-top: 2.5px;
  border-radius: 2px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
}

.pagination :hover:not(.active) {
  background-color: #ddd;
}