* {
  box-sizing: border-box;
}

body {
  /* display: flex; */
  /* justify-content: center;
  align-items: center; */
  width: 100% !important;
  /* height: 100vh; */
  margin: 0 auto !important;
}

html {
  width: 100% !important;
}